<div>
    <div *ngFor="let item of playGround" class="flex">
        <div class=" flex " *ngFor="let _item of item">
            <ng-container [ngSwitch]="_item.value">

            <ng-container  *ngSwitchCase="'o'">
                <div>
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 0V35" stroke="#CCCCCC" />
                        <path d="M0 17L35 17" stroke="#CCCCCC" />
                        <path
                            d="M13.7346 22.8114C0.908682 17.2586 9.34728 12.4604 14.9311 10.0909C21.9507 7.39718 23.3068 10.0909 25.301 13.8323C28.0929 19.0701 29.2894 29.5458 13.7346 22.8114Z"
                            stroke="#181CCE" />
                    </svg>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'x'">
                <div>
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 0V35" stroke="#CCCCCC" />
                        <path d="M0 17L35 17" stroke="#CCCCCC" />
                        <path
                            d="M29.216 9C23.5972 19.5644 1.35625 34.0002 6.8717 17.5658C11.1838 4.71715 22.194 13.258 30 23.3858"
                            stroke="#FF0000" />
                    </svg>
                </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <div (click)="updateSquare(_item)">
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 0V35" stroke="#CCCCCC" />
                        <path d="M0 17L35 17" stroke="#CCCCCC" />
                    </svg>
                </div>
            </ng-container>
        </ng-container>
        </div>
    </div>
</div>